body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}


                    /* Make up Banner Section */

.header-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.banner-section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 54, 63);
    width: 80%;
    height: auto;
    border-radius: 20px;
    align-content: center;
    justify-content: space-between;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 50px;
}
.heading{
    font-size: xx-large;
}

.banner-button{
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 7px;
    margin-top: 10px;
}
.banner-button i{
    margin-left: 5px;
}
.banner-image{
    margin-top: 100px;
    margin-bottom: -4px;
}
.banner-section a:hover {
    background-color: cornflowerblue;
}
                    /* make up main section*/

 .main-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.match-time{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: brown;
    border-radius: 20px;
}
.links a{
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: white;
    width: 80%;
    height: 20px;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 7px;
}
#upcoming-button{
    background-color: burlywood;
}

.all-matches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 20px;
}
.matches{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid goldenrod;
    border-radius: 20px;
    margin: 5px;
    height: 250px;
}
.flags{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.flags img{
    width: 100%;
    height: 100px;
    margin: 10px;
    align-self: center;
}


.view-all-button{
    margin-top: 50px;
}
.view-all-button button{
    background-color: burlywood;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 7px;
}

.view-all-button a{
    color: black;
    text-decoration: none;
    padding: 20px;
}

                    /* make up footer Section*/
.footer-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
hr{
    border: 1px solid gray;
}
.footer-menu{
    padding-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.footer-menu a{
    text-decoration: none;
    color:gray
}


/***********************************
            Media Queries
************************************/

/* Header section  for tablets and mobiles*/
@media  screen and (max-width:576px) {
    .banner-section{
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    .banner-text{
        margin-left: 30px;
        margin-bottom: 10px;
        justify-content: space-around;
    }
    .banner-image{
        width: 100%;
        height: 332px;
        margin-top: 0%;
        margin-bottom: -35px;
    }    
    .view-all-button{
        display: none;
    }
}
    
    


@media  screen and (min-width:577px) and (max-width:768px) {
    .banner-section{
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    .banner-text{
        margin-left: 30px;
        margin-bottom: 10px;
        justify-content: space-around;
    }
    .banner-image{
        width: 100%;
        height: 300px;
        margin-top: 0%;
        margin-bottom: -35px;
    }    
}

/* main section for tablets and mobiles*/
@media screen and (max-width:576px) {
    .main-section{
        margin-top: 20px;
    }
    .match-time{
        display: flex;
        flex-direction: column;
    }
    .links{
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-bottom: 20px;
    } 
    .links a{
        width: 40%;
    }   

    .all-matches{
        display: flex;
        flex-direction: column;
    }  
    
}

@media  screen and (min-width:577px) and (max-width:768px) {
    .main-section{
        margin-top: 0px;
    }
    .match-time{
        display: flex;
        flex-direction: column;
    }
    .links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
    } 
   

    .all-matches{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  

    
}

/* Footer sectior for tablets and mobiles*/
@media screen and (max-width:576px) {
    .footer-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-menu li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .footer-menu{
        width: 85%;
        display: flex;
        justify-content: space-around;
    }
    .footer-menu li{
        margin: 10px;
    }
}
/*  For Large Device view button hide */

@media screen and (min-width:769px) {
    .view-all-button{
          display: none;
    }    
}